<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <title>Bienvenida</title>
</head>

<body style="margin: 0;padding: 0;box-sizing: border-box;background-color: white;">
  <section class="header-container" style="width: 100%; text-decoration: none;font-family: 'QuickSand', sans-serif;margin: 20px 20px 0px 20px; height: 80px;">
    <div class="logo-container" style="width: auto;display: inline-flex;">
      <a class="home-link" style="grid-area: a;margin-right: 10px;">
        <img src="https://raw.githubusercontent.com/CesarMauricioRojas/imagenes-odontotal/main/Logo.png" alt="logo" class="logo" style="width: 120px;height: 60px;">
      </a>
      <a class="home-link" style="grid-area: b;">
        <div class="texto-logo">
          <h1 style="margin-bottom: 0;">Clínica <span style="color: #00E0C8;">Odon</span><span style="color: #02AFF6; ">Total</span></h1>
        </div>
      </a>
    </div>
  </section>
  <section class="main-container" style="text-align: center; width: 100%;text-decoration: none;font-family: 'QuickSand', sans-serif;padding-top: 50px;padding-bottom: 50px;background-color: #bdecfe;color: black;">
    <h1 id="main-title" style="font-size: 34px;">Bienvenido</h1>
    <p style="font-size: 20px;">¡Tu cuenta ha sido validada con éxito, gracias por confiar en nosotros! A continuación encontrarás un link con el cual puedes acceder a la aplicación.</p>
    <a href="http://localhost:5173">
      <button class="validate-button" style="background-color: white;color: black;border: 1px solid black;border-radius: 5px;padding: 10px;margin: 20px;font-size: 15px;font-family: 'QuickSand', sans-serif;cursor: pointer;"><strong>Ir a Odontotal</strong></button>
    </a>
  </section>
</body>

</html>