<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Confirmación Turno</title>
</head>

<body style="
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: white;
    font-family: 'QuickSand', sans-serif;
">
    <section class="header-container"
        style="
            width: 100%;
            text-decoration: none;
            font-family: 'QuickSand', sans-serif;
            margin: 20px 0px 20px 20px;
            height: 100px;
        "
    >
        <div class="logo-container"
            style="
                width: auto;
                display: inline-flex;
            "
        >
            <a class="home-link" style="grid-area: a;margin-right: 10px;">
                <img src="https://raw.githubusercontent.com/CesarMauricioRojas/imagenes-odontotal/main/Logo.png" alt="logo" class="logo" style="width: 120px;height: 60px;">
            </a>
            <a class="home-link" style="grid-area: b;">
                <div class="texto-logo">
                    <h1 style="margin-bottom: 0;">Clínica <span style="color: #00E0C8;">Odon</span><span style="color: #02AFF6; ">Total</span></h1>
                </div>
            </a>
        </div>
    </section>
    <section class="main-container"
        style="
            text-align: center;
            width: 100%;
            height: 80px;
            text-decoration: none;
            
            padding-top: 20px;
            padding-bottom: 20px;
            background-color: #bdecfe;
            color: black;
        "
    >
        <h1 style="font-size: 30px;" >¡Tu turno ha sido agendado correctamente!</h1>
    </section>
    <section class="book-container"
            style="
                background-color: white;
                left: 10%;
                border-radius: 10px;
                color: black;
                text-align: center;
            "
        >
            <h2 style="font-size: 26px;">Información del turno</h2>
            <div style="
                        width: 100%;
                        height: 1px;
                        border-bottom: 1px solid #02AFF6;
                        margin-bottom: 20px;
                    "
            ></div>
            <div class="info-container"
                style="
                    font-size: 18px;
                    height: 100%;
                    text-align: left;
                "
            >
                <span id="especialidad"><strong>Especialidad: </strong></span>
                <span id="nombreOdontologo"><strong>Odontólogo: </strong></span>
                <span id="nombrePaciente"><strong>Paciente: </strong></span>
                <span id="fecha"><strong>Fecha: </strong></span>
                <span id="hora"><strong>Hora: </strong></span>
            </div>
            <div style="
                    width: 100%;
                    height: 1px;
                    border-bottom: 1px solid #02AFF6;
                    margin-bottom: 20px;
                "
            ></div>
        </section>
</body>

</html>