<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Confirmación Turno</title>
</head>

<body style="
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: white;
    font-family: 'QuickSand', sans-serif;
">
    <section class="header-container">
        <div class="logo-container"
            style="
                width: auto;
                display: inline-flex;
            "
        >
            <a class="home-link" style="grid-area: a;margin-right: 10px;">
                <img src="https://raw.githubusercontent.com/CesarMauricioRojas/imagenes-odontotal/main/Logo.png" alt="logo" class="logo" style="width: 140px;height: 60px;">
            </a>
        </div>
    </section>
    <section class="main-container"
        style="
            background: radial-gradient(#04b2d9,#04b2d9,#00e0c8);
            text-align: center;
            padding: 15px"
    >
        <h1 style="font-size: 30px; color: white;" >¡Tu turno ha sido agendado!</h1>
    </section>
    <section class="book-container"
            style="
                background-color: white;
                left: 10%;
                border-radius: 10px;
                color: black;
                text-align: center;
            "
        >
            <h2 style="font-size: 26px;">Información del turno</h2>
            <div style="
                        width: 100%;
                        height: 1px;
                        border-bottom: 1px solid #00abf5;
                        margin-bottom: 20px;
                    "
            ></div>
            <div class="info-container"
                style="
                    font-size: 18px;
                    height: 100%;
                    text-align: left;
                "
            >
                <span id="especialidad"><strong>Especialidad: </strong></span>
                <span id="nombreOdontologo"><strong>Odontólogo: </strong></span>
                <span id="nombrePaciente"><strong>Paciente: </strong></span>
                <span id="fecha"><strong>Fecha: </strong></span>
                <span id="hora"><strong>Hora: </strong></span>
            </div>
            <div style="
                    width: 100%;
                    height: 1px;
                    border-bottom: 1px solid #00abf5;
                    margin-bottom: 20px;
                "
            ></div>
        </section>
</body>

</html>