<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Validación de cuenta</title>
</head>

<body style="margin: 0;padding: 0;box-sizing: border-box;background-color: white;">
    <section class="header-container" style="width: 100%; text-decoration: none;font-family: 'QuickSand', sans-serif;margin: 20px 20px 0px 20px;height: 80px;">
        <div class="logo-container" style="width: auto;display: inline-flex;">
            <a class="home-link" style="grid-area: a;margin-right: 10px;">
                <img src="https://raw.githubusercontent.com/CesarMauricioRojas/imagenes-odontotal/main/Logo.png" alt="logo" class="logo" style="width: 140px;height: 60px;">
            </a>
        </div>
    </section>
    <section class="main-container" style="text-align: center; width: 100%;text-decoration: none;font-family: 'QuickSand', sans-serif;padding-top: 50px;padding-bottom: 50px;background: radial-gradient(#04b2d9,#04b2d9,#00e0c8);color: white;">
        <h1 id="main-title" style="font-size: 34px;">Validación de cuenta</h1>
        <p style="font-size: 20px;">¡Tu cuenta ha sido creada con éxito! A continuación encontrarás un link para validar tu cuenta:</p>
        <a id="validate-link">
            <button class="validate-button" style="background-color: white; color: black;border: 1px solid black;border-radius: 5px;padding: 10px;margin: 20px;font-size: 15px;font-family: 'QuickSand', sans-serif;cursor: pointer;"><strong>Validar
                Cuenta</strong></button>
        </a>
        <p style="font-size: 20px;">Tienes un plazo de 48 horas para validar la cuenta, o de lo contrario será eliminada.</p>
    </section>
</body>

</html>