$white:#F9F9F9;
$whiteMatte: #f1f1f1;
$whitheMatteSecond: #f1f1f1a9;
$black:#1F1A1B;
$grey: #808080;
$GreyLight: #ccc;
$redDark: #b20000;
$orangeStrong: #ff0000;
$orange: #ffa500;
$yellowStrong: #c1902f;
$greenDark: #3e8e41;
$greenLight: #5ed962;
$greenWater: #00e0c8;
$blueDark: #00356e;
$blueLight: #00abf5;
$blueLightSecond: #5bc2ee79;
$blue: #0069d9;
$blueStrong: #0000ff;
$red: #a91c1c;
$background: radial-gradient(#04b2d9, #04b2d9, #00e0c8);