@import "../variables/colors";

.AddDentistAdmin {
  background: $background;
  height: 100%;
  display: flex;
  justify-content: center;
  .row {
    width: 100%;
    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 60%;
      margin: 40px auto;
      padding: 20px;
      border: 1px solid $grey;
      border-radius: 5px;
      background-color: $white;
      box-shadow: rgba(0, 0, 0, 0.25) 0px 24px 35px,
        rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
      gap: 10px;
      .form-dentist-main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        gap: 10px;

        .form-group {
          width: 100%;
          display: flex;
          flex-direction: column;
          gap: 10px;

          input {
            height: 40px;
          }
          select {
            height: 40px;
            border-radius: 5px;
            color: $grey;
            border: 1px solid $grey;
          }
        }
      }

      button {
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        font-size: 1rem;
        font-weight: 500;
        color: $white;
        background-color: $blue;
        cursor: pointer;
        margin-top: 20px;

        &:hover {
          background-color: $blueStrong;
        }
      }
    }
  }
}

@media (min-width: 200px) and (max-width: 480px) {
  .AddDentistAdmin {
    height: 100%;
    .row {
      form {
        width: 90%;
        .form-dentist-main {
          display: flex;
          flex-direction: column;
        }
      }
    }
  }
}
@media (min-width: 481px) and (max-width: 770px) {
  .AddDentistAdmin {
    height: 100%;
    .row {
      form {
        width: 90%;
        .form-dentist-main {
          display: flex;
          flex-direction: column;
        }
      }
    }
  }
}
@media (min-width: 771px) and (max-width: 1100px) {
  .AddDentistAdmin {
    .row {
      form {
        width: 80%;
      }
    }
  }
}
