.add-patient-container{
    background: linear-gradient(to top, #00e0cab4, #04b2d9b4);
    height: 80vh;
    display: flex;
    justify-content: center;
    form{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%; 
        margin: auto;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #fff;
         // box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        gap: 10px;

            .row{
                display: grid;
                grid-template-columns: 1fr 1fr;
                width: 100%;
                gap: 10px;
                .form-group{
                    width: 100%;
                    input{
                        width: 100%;
                       
                    }
                }
            }
            button{
                    padding: 10px 20px;
                    border: none;
                    border-radius: 5px;
                    font-size: 1rem;
                    font-weight: 500;
                    color: #fff;
                    background-color: #007bff;
                    cursor: pointer;
                    margin-top: 20px;
                  
                  &:hover {
                    background-color: #0069d9;
                  }
              }
    }
}
@media (min-width:200px) and (max-width:480px) {
    .add-patient-container{
        height: 100%;
        form{
            margin: 40px auto;
          width: 90%; 
          .row{
            display: flex;
            flex-direction: column;
          }
      }
    }
  }
  @media (min-width:481px) and (max-width: 770px) {
    .add-patient-container{
        height: 100%;
        form{
            margin: 40px auto;
            width: 80%; 
        //   .row{
        //     display: flex;
        //     flex-direction: column;
        //   }
      }
    }
  }
  @media (min-width:771px) and (max-width:1100px ) {
    .add-patient-container{
        height: 100%;
        form{
            margin: 40px auto;
            width: 70%; 
        //   .row{
        //     display: flex;
        //     flex-direction: column;
        //   }
      }
    }
  }