
    .container-home-img{
        div{

            canvas{
                height: 50vh;
                width: 100%;
            }

        }
        
    }

    .line1{
        color: #02AFF6;
        width: 80%;
        margin: 40px 10%;
    }
    .text-initial{
        width: 80%;
        display: flex;
        justify-content: center;
        text-align: center;
        background-color: rgba($color: #00E0C8b4, $alpha: 0.1);
        font-family: 'Montserrat', sans-serif;
        margin: 20px auto;
        padding: 20px;
        font-size: 16px;
        border-radius: 10px;
        
        
    }
    .text-responsive{
        background-color:rgba($color: #02AFF6, $alpha: 0.1);
        display: flex;
        justify-content: center;
        text-align: center;
        margin: 30px;
        font-family: 'Montserrat', sans-serif;
        display: none;
    }
    .line2{
        color:#00E0C8;
        width: 80%;
        margin: 40px 10%;
    }
    
    

    
    



@media (max-width: 480px) {
    .text-initial{
        display: none;
    }
    .text-responsive{
        display: flex;
    }
}
