@import "../variables/colors";


.turns-list {
  background: $background;
  width: 100vw;
  min-height: 90vh;

  .patient-information {
    padding: 10px 10px 10px 10vw;
    background-color: $white;

    p {
      margin-bottom: 3px;
    }

    span {
      font-weight: bold;
    }
  }

  h4 {
    text-align: center;
    margin-top: 30px;
    position: sticky;
    left: 0px;
    background-color: $white;
  }

  .turns-patient {
    width: 70vw;
    max-height: 90vh;
    overflow: auto;
    margin: 40px auto 40px;
    background-color: $white;

    .row-titles {
      position: sticky;
      top: -1px;
      background-color: $whiteMatte;
    }

    .center-input {
      text-align: center;
    }

    .fecha {
      color: $whiteMatte;
    }
  }
}

@media screen and (max-width: 1024px) {
  .turns-list {
    
    .turns-patient {
      width: 90vw;
    }
  }

}
