
.container-dentists{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: aqua;
 
    .container-dentists_list{
        display: flex;
        justify-content: center;
        align-items: center;
        .container-dentists {
        background-color: red;
            
        }
        .container-dentists_btnDelete {
            background-color: red;
            width: 80px;
        }
}   }