.turns-list {
    background: linear-gradient(to top, rgba(0, 224, 202, 0.7058823529), rgba(4, 178, 217, 0.7058823529));
    width: 100vw;
  
    .patient-information {
      padding: 10px 10px 10px 10vw;
      background-color: #ffffff;
  
      p {
        margin-bottom: 3px;
      }
  
      span {
        font-weight: bold;
      }
    }
  
    h4 {
      text-align: center;
      margin-top: 30px;
      position: sticky;
      left: 0px;
      background-color: #ffffff;
    }
  
    .turns-patient {
      height: 80vh;
      width: 65vw;
      overflow: auto;
      margin: 40px auto 40px;
      background-color: #ffffff;
  
      .row-titles {
        position: sticky;
        top: -1px;
        background-color: #ebe8e8;
      }
  
      .center-input {
        text-align: center;
      }
  
      .fecha {
        color: #ebe8e8;
      }
    }
  }
  