@import "../variables/colors";

.table-container {
  h2{
    margin-top: 40px;
  }
  table{
    width: 90%;
    th{
      text-align: center;
    }
    td{
      text-align: center;
    }
  }
  
  .editable {
    height: 300px;
    width: 70%;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;

    .editable_motive {
      padding: 0.5%;
      height: 200px;
      resize: none;
      overflow: auto;
      margin: 10px 10px 20px 10px;
    }
    .editable_worktodone {
      padding: 0.5%;
      height: 200px;
      resize: none;
      overflow: auto;
      margin: 10px;
    }
    div {
      margin-top: 2%;
      display: flex;
      justify-content: center;
      button {
        width: 10vw;
        display: flex;
        justify-content: center;
      }
      .cancel-change {
        &:hover {
          background-color: $black;
        }
      }
    }
  }
}
@media screen and (max-width: 480px) {
  .table-container {
    overflow-x: auto;
    width: 90vw;
    table {
      width: 100%;
      border-collapse: collapse;
    }
    .editable {
      div {
        margin-top: 2%;
        display: flex;
        justify-content: center;
        button {
          width: 20vw;
          display: flex;
          justify-content: center;
        }
      }
    }
  }
}
@media screen and (min-width: 700px) and (max-width: 1200px) {
  .table-container {
    overflow-x: auto;
    width: 98vw;
    table {
      border: 2px solid $black;
      width: 100%;
      border-collapse: collapse;
    }

    .editable {
      width: 80%;
      .editable_motive {
        padding: 0.5%;
        resize: none;
        overflow: auto;
      }
      .editable_worktodone {
        padding: 0.5%;
        resize: none;
        overflow: auto;
      }
      div {
        margin: 10px;
        margin-top: 2%;
        display: flex;
        justify-content: center;
        button {
          width: 10vw;
          display: flex;
          justify-content: center;
        }
      }
    }
  }
}
