@import "../variables/colors";

.team {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin-bottom: 60px;

  h1 {
    text-align: center;
    color: $whiteMatte;
    margin-top: -480px;
  }

  .team_branding {
    width: 100vw;
    display: flex;
    justify-content: flex-start;
    align-self: start;
    align-content: flex-start;
    align-items: start;
    background: $background;
    height: 60vh;

    img {
      width: 100%;
      height: 60vh;
      position: relative;

    }

  }

  .container_text {
    margin-top: 60px;
    margin-bottom: 50px;
    width: 100vw;
    background: $background;
    text-align: center;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    height: 20vh;

    .container_text_desk {
      text-align: justify;
      font-size: 6px;
      width: 80vw;
    }

    .container_text_desk {
      font-size: large;
    }

    .container_text_responsive {
      display: none;
    }
  }

  .row {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    column-count: 4;
    flex-wrap: wrap;
    width: 100vw;

    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 70vw;
    border: 1px solid rgba(82, 82, 82, 0.158);
    border-radius: 5px;
    box-shadow: 1px 10px 5px 1px rgba(82, 82, 82, 0.712);

    .container_dentist {
      width: calc(33.33% - 0px);
      padding: 10px;

      .container_dentist_card {
        .container_dentist_card_specific {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          align-content: center;

          img {
            width: 80%;
            height: 70%;
          }

          .container_dentist_card_specific_data_personal {
            background-color: white;
            width: auto;
            height: auto;
            margin: -35% 10px 30% 15px;
            padding-right: 20px;
            padding-left: 20px;
            padding: 20px;
            display: flex;
            flex-direction: column;
            align-content: center;
            align-items: center;

            p {
              font-size: 0.8vw;
            }

            h4 {
              font-size: 1.2vw;
            }

            .footer-redes {
              .footer-redes_icon {
                color: grey;
                font-size: 20px;
                margin-right: 5px;
              }

              .twitter {
                color: rgba($color: #02AFF6, $alpha: 0.8);
              }

              .fb {
                color: rgba($color: #00E0C8, $alpha: 0.8);
              }

              .insta {
                color: rgba($color: #02AFF6, $alpha: 0.8);
              }

              .whats {
                color: rgba($color: #00E0C8, $alpha: 0.8);
              }

            }
          }
        }
      }
    }
  }

}

@media screen and (max-width: 835px) {
  .team {
    margin-bottom: 60px;

    h1 {
      margin-top: -620px;
      width: 80vw;
    }

    .team_branding {
      width: 100vw;
      align-items: start;
      background: $background;
      height: 60vh;

      img {
        width: 100%;
        height: 60vh;
        position: relative;
      }
    }

    .row {

      width: 100vw;


      width: 90vw;
      border: 1px solid rgba(82, 82, 82, 0.158);
      border-radius: 5px;

      .container_dentist {
        width: calc(50%);
        padding: 10px;

        .container_dentist_card {
          .container_dentist_card_specific {
            margin: 0;
            padding: 0;

            img {
              width: 80%;
            }

            .container_dentist_card_specific_data_personal {
              width: 25vw;
              height: auto;
              display: flex;
              flex-direction: column;
              padding: 6px;
              bottom: 50px;
              text-align: center;

              .text-muted {
                font-size: 2.5vw;
              }

              h4 {
                font-size: 2.8vw;
              }

            }
          }
        }
      }
    }

    .container_text {
      margin-bottom: 0px;
      width: 100vw;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: red;

      .container_text_desk {
        text-align: justify;
        font-size: 6px;
        width: 80vw;
      }

      .container_text_desk {
        display: none;
      }

      .container_text_responsive {
        display: flex;
        width: 80vw;
        margin-top: 15px;
      }
    }

  }
}

@media screen and (max-width: 480px) {
  .team {
    margin-bottom: 60px;

    h1 {
      margin-top: -1220px;
      width: 80vw;
    }

    .team_branding {
      width: 100vw;

      align-items: start;
      background: $background;
      height: 180vh;

      img {
        width: 100%;
        height: 60vh;
        position: relative;

      }

    }

    .row {

      width: 100vw;

      width: 90vw;
      border: 1px solid rgba(82, 82, 82, 0.158);
      border-radius: 5px;


      .container_dentist {
        width: 100vw;
        padding: 10px;

        .container_dentist_card {
          .container_dentist_card_specific {

            img {
              width: 80%;
              height: 70%;
            }

            .container_dentist_card_specific_data_personal {
              width: 50vw;
              height: 100px;
              display: flex;
              flex-direction: column;
              padding: 6px;
              bottom: 50px;
              text-align: center;

              .text-muted {
                font-size: 4vw;
              }

              h4 {
                font-size: 5.2vw;
              }

            }
          }
        }
      }
    }

    .container_text {
      margin-bottom: 0px;
      width: 100vw;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: red;

      .container_text_desk {
        text-align: justify;
        font-size: 6px;
        width: 80vw;
      }

      .container_text_desk {
        display: none;
      }

      .container_text_responsive {
        display: flex;
        width: 80vw;
        margin-top: 15px;
      }
    }

  }
}