.patient-history-container{
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: 80vh;
    background-color: #f1f1f1;
    background: linear-gradient(to top, #00e0cab4, #04b2d9b4);

    .encabezado-ph{
        text-align: center;
        text-shadow: 1px 1px 1px  white;
        border-top-left-radius: 1px solid black;
        // background-color: #00e0ca;
        padding: 10px;
        
        width: 70%;
        margin: 40px auto ;
        
    }
    section{
        width: 100%;
        
        .patient-history-main{
            margin: 0px auto 10px;
            display: flex;
            width: 70%;
            background-color: rgba(255, 255, 255, 0.842);
            border: 1px solid rgba(128, 128, 128, 0.13);
            padding: 10px;
            box-shadow: 1px 1px 15px grey;
            

        // &.details-even {
        //     background-color: #04b2d9; /* Color de fondo para elementos pares */
        // }
    
        // &.details-odd {
        //     background-color:  
        //     #00e0c8; /* Color de fondo para elementos impares */
        // }
        
            details{
                width: 100%;
                display: grid;
                grid-template-columns: 1fr 1fr;
                margin: 0;
                summary{
                    display: flex;
                    justify-content: space-around;   
                    h4{
                        text-align: center;
                        font-size: 16px;
                        span{
                            font-size: 18px;
                            font-weight: bolder;
                        }
                    }             
                }
                .info-patientHistory{
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    gap: 10px;
                    p{
                        padding: 10px;
                        text-align: justify;
                        // text-align: center;
                        background-color: rgba(4, 178, 217, 0.2);
                        width: 100%;
                        margin: 0;
                        justify-content: space-around;
                        flex-direction: row;
                        span{
                            
                            font-weight: bolder;
                        }
                    }
                }
               
            }
        }
    }
    
}
@media (max-width:480px) {
    .patient-history-container{
        section{
            .patient-history-main{
                width: 90%;
                
                details{
               
                    summary{
                         flex-direction: column;             
                    }
                   
                }
            }
        }
    }
}
@media (max-width:767px) and (min-width:481px) {
    .patient-history-container{
        section{
            .patient-history-main{
                width: 90%;
                
                details{
               
                    summary{
                                      
                    }
                   
                }
            }
        }
    }
    
    
    
}