@import "../variables/colors";
@import "../variables/fonts";
@import "colores.scss";

.general {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  align-self: center;
  .general_info {
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
    align-content: center;
    align-self: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 16px;
    h1 {
      font-size: 3.5vh;
    }
    h2 {
      font-size: 2.5vh;
    }
  }
  .general_imagen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-items: center;
    align-self: center;

    .profile_image {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100vw;
      justify-content: center;
      align-items: center;
      align-self: center;
      top: 1vh;
      p {
        text-align: center;
      }

      button {
        border: none;
        background-color: $blueLight;
        color: $white;
        font-size: 15px;
        border-radius: 20px;
        margin: 5px;
        padding: 5px 10px;
        color: $white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        cursor: pointer;
        box-shadow: 3px 5px 5px $black;
      }
      .dispel {
        pointer-events: none;
        background-color: $black;
      }

      img {
        width: 18vh;
        height: 18vh;
        border-radius: 200px;

        box-shadow: 2px 10px 10px $black;
      }
    }

    .profile_change_pic {
      position: fixed !important;
      left: 50%;
      transform: translate(-50%);
      background-color: $whiteMatte;
      width: 30vw;
      z-index: 500;
      height: 50vh;

      border-radius: 10px;
      margin-right: 0 !important;
      top: 60px;
      box-shadow: 2px 10px 10px $black;
      div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 100%;
        border: 1 solid $black;
        .file_image {
          display: flex;
          flex-direction: column;
          width: 80%;
        }

        article {
          width: 80%;
          display: flex;
          justify-content: space-around;

          .profile_change_pic_delete {
            background-color: $redDark;
            &:hover {
              background-color: $orangeStrong;
            }
          }

          button {
            border: none;
            cursor: pointer;
            width: 40%;
            height: 5vh;
            border-radius: 10px;
            background-color: $greenDark;
            color: $white;
            font-size: 1.2vh;

            &:hover {
              background-color: $greenLight;
            }
          }
        }

        img {
          width: 12vw;
          border-radius: 200px;
          height: 12vw;
        }
      }
    }

    .profile__content {
      filter: blur(4px);
      pointer-events: none;
    }

    .loading {
      color: $grey;
      background-color: $whiteMatte;
      border-radius: 0.8vw;
      width: 13vw;
      height: 6vh;
      display: flex;
      align-items: center;
      justify-content: start;
      padding-left: 1em;
      position: relative;
      top: 7vh;
    }

    .loading::before,
    .loading::after {
      content: "";
      position: absolute;
      left: 5vw;
      top: 40%;
      transform: translate(0, -50%);
      width: 0.5em;
      height: 0.5em;
      border-radius: 50%;
      background-color: $grey;
      animation: loadingAnimation 1s infinite;
    }

    .loading::before {
      left: calc(70% - 1em);
      animation-delay: 0s;
    }

    .loading::after {
      left: calc(70% + 0.5em);
      animation-delay: 0.2s;
    }

    @keyframes loadingAnimation {
      0% {
        opacity: 0;
        transform: scale(0);
      }

      50% {
        opacity: 1;
      }

      100% {
        opacity: 0;
        transform: scale(1);
      }
    }

    .profile_sure_to_delete {
      position: absolute;
      background-color: $grey;
      width: 30vw;
      height: 25vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      border-radius: 0.5vw;
      top: 50vh;
      font-size: 1.7vw;

      button {
        border: none;
        background-color: $orangeStrong;
        font-size: 1.3vw;
        color: $white;
        cursor: pointer;
        height: 7vh;
        border-radius: 0.4vw;
        width: 45%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    .profile__changes_succes {
      color: $greenDark;
      background-color: $whiteMatte;
      height: 6vh;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 0.5vw;
      width: 70vw;
      font-size: 1.5vw;
      position: relative;
      top: 7vh;
      margin: 0;
      left: 1vw;
    }

    .profile__title {
      width: 6em;
      height: 5vh;
      font-size: 2vw;
    }

    .profile_from_group {
      display: flex;
      justify-content: space-between;
      width: 50vw;

      .profile__form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 40vh;
        width: 20vw;

        .profile__label {
          display: block;
          position: relative;
          left: 0.8vw;
          top: 2.5vh;
          font-size: 1.5vw;
          margin: 0;
        }

        .profile__input {
          margin-bottom: 1rem;
          border: solid;
          border-width: 0.05vw;
          width: 20vw;
          margin: 0;
          padding-left: 1vw;
          font-size: 1.5vw;
          height: 5vh;
        }
      }
    }

    .profile_change_buttons {
      width: 30vw;
      display: flex;
      justify-content: space-between;
      position: relative;
      left: 1vw;
      top: 10vh;
      margin: 0;

      .profile__button--delete {
        border: none;
        background-color: $orangeStrong;
        font-size: 1.3vw;
        color: $white;
        cursor: pointer;
        height: 7vh;
        border-radius: 0.4vw;
        width: 45%;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .profile__button--save {
        border: none;
        background-color: $greenDark;
        font-size: 1.3vw;
        color: $whiteMatte;
        cursor: pointer;
        height: 7vh;
        border-radius: 0.4vw;
        width: 45%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    .profile__label__email {
      position: relative;
      top: 2vh;
      font-size: 1.5vw;
    }

    .profile_email {
      width: 50vw;
      position: relative;
      top: 5vh;
      margin: 0 !important;
      width: 100%;
      border: solid;
      border-width: 0.05vw;
      padding-left: 1vw;
      font-size: 1.5vw;
      height: 5vh;
    }
  }

  form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    table {
      width: 40%;
      border-collapse: collapse;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      align-items: center;
      align-self: center;
      margin: 15px;
      thead {
        width: 40vw;
        border-bottom: 1px solid $whiteMatte;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
        align-items: center;
        align-self: center;
        h4 {
          margin-top: 20px;
        }
        .complet {
          display: none;
        }
        th,
        td {
          width: 65vw;
          text-align: left;
        }

        .especial {
          display: flex;
        }
        .nombre {
          display: flex;
          justify-content: center;
          align-items: center;
          align-self: center;
          text-align: center;
          height: 100%;
          width: 85vw;
        }
      }

      th {
        font-weight: bold;
      }

      td {
        font-weight: normal;
      }
      button {
        margin: 5px;
        padding: 5px 10px;
        color: $white;
        border: none;
        border-radius: 4px;
        cursor: pointer;

        &:hover {
          background-color: $blueLight;
        }
      }
      .edit {
        background-color: $blueLight;
        &:hover {
          background-color: $blueDark;
        }
      }
      .dispel {
        pointer-events: none;
        background-color: $black;
      }
      .send {
        background-color: $greenDark;
        &:hover {
          background-color: $greenLight;
        }
      }
      .cancel {
        background-color: $redDark;
        &:hover {
          background-color: $orangeStrong;
        }
      }

      input {
        display: flex;
        width: 12vw;
        font-weight: bold;
      }
      input[type="text"],
      input[type="date"],
      select {
        padding: 5px;
        border: 1px solid $GreyLight;
        border-radius: 4px;
        width: 100%;

        &:focus {
          outline: none;
          border-color: $blueStrong;
        }
      }
    }
  }
}
@media screen and (max-width: 650px) {
  .general {
    .general_imagen {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      align-items: center;
      align-self: center;
      align-content: center;
      .profile_image {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;
        position: relative;
        top: 1vh;
        left: 0;
        right: 0;
        margin: 0;
        padding: 0;
        img {
          width: 18vh;
          border-radius: 200px;
          height: 18vh;
          box-shadow: 2px 10px 10px $black;
        }

        button {
          border: none;
          width: 20vw;
          height: 3vh;
          border-radius: 20px;
          cursor: pointer;
          box-shadow: 3px 5px 5px $black;
          text-align: center;
          display: flex;
          justify-content: center;
          align-items: center;
          align-items: center;
          padding: 15px;
          font-size: 10px;
        }
      }

      .profile_change_pic {
        transform: none;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        align-self: center;
        z-index: 500;
        height: 45vh;
        border-radius: 10px;
        margin-right: 0;
        width: 75vw;
        left: 0;
        left: 0;
        right: 0;
        margin: 0;
        padding: 0;
        margin: 10vh 12.5vw 0 12.5vw;
        div {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-around;
          height: 100%;
          width: 75vw;
          left: 0;
          right: 0;
          margin: 0;
          padding: 0;
          article {
            width: 80%;
            display: flex;
            justify-content: space-around;
            left: 0;
            right: 0;
            margin: 0;
            padding: 0;
            button {
              border: none;
              cursor: pointer;
              width: 40%;
              height: 6vh;
              display: flex;
              justify-content: center;
              align-items: center;

              border-radius: 10px;
              text-align: center;
            }
          }

          img {
            width: 20vh;
            border-radius: 200px;
            height: 20vh;
          }
        }
      }
    }

    form {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      h4 {
        margin: 20px;
      }
      table {
        width: 85%;
        border-collapse: collapse;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
        align-self: center;
        thead {
          width: 85vw;
          border-bottom: 1px solid $whiteMatte;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-content: center;
          align-items: center;
          align-self: center;
          th,
          td {
            width: 85vw;
            text-align: left;
          }

          .especial {
            display: none;
          }
          .complet {
            display: flex;
          }
          .nombre {
            display: flex;
            justify-content: center;
            align-items: center;
            align-self: center;
            text-align: center;
            height: 100%;
            width: 80vw;
          }
        }

        th {
          font-weight: bold;
        }

        td {
          font-weight: normal;
        }
      }
    }
  }
}
@media screen and (max-width: 1200px) and (min-width: 651px) {
  .general {
    .general_imagen {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      align-items: center;
      align-self: center;
      align-content: center;
      .profile_image {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;
        position: relative;
        top: 1vh;
        left: 0;
        right: 0;
        margin: 0;
        padding: 0;
        img {
          width: 18vh;
          border-radius: 200px;
          height: 18vh;
          box-shadow: 2px 10px 10px $black;
        }

        button {
          border: none;
          width: 15vw;
          height: 3vh;
          border-radius: 20px;
          cursor: pointer;
          box-shadow: 3px 5px 5px $black;
          text-align: center;
          display: flex;
          justify-content: center;
          align-items: center;
          align-items: center;
          padding: 15px;
          font-size: 1vw;
        }
      }

      .profile_change_pic {
        transform: none;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        align-self: center;
        z-index: 500;
        height: 45vh;
        border-radius: 10px;
        margin-right: 0;
        width: 75vw;
        left: 0;
        left: 0;
        right: 0;
        margin: 0;
        padding: 0;
        margin: 10vh 12.5vw 0 12.5vw;
        div {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-around;
          height: 100%;
          width: 75vw;
          left: 0;
          right: 0;
          margin: 0;
          padding: 0;
          article {
            width: 80%;
            display: flex;
            justify-content: space-around;
            left: 0;
            right: 0;
            margin: 0;
            padding: 0;
            button {
              border: none;
              cursor: pointer;
              width: 30%;
              height: 6vh;
              display: flex;
              justify-content: center;
              align-items: center;

              border-radius: 10px;
              text-align: center;
            }
          }

          img {
            width: 20vh;
            border-radius: 200px;
            height: 20vh;
          }
        }
      }
    }
    form {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      h4 {
        margin: 20px;
      }
      table {
        width: 100%;
        border-collapse: collapse;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
        align-self: center;
        thead {
          width: 65%;
          border-bottom: 1px solid $whiteMatte;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-content: center;
          align-items: center;
          align-self: center;
          th,
          td {
            width: 60vw;
            text-align: left;
          }
          .complet {
            display: none;
          }

          .especial {
            display: flex;
          }
          .perro {
            display: flex;
          }
          .nombre {
            display: flex;
            justify-content: center;
            align-items: center;
            align-self: center;
            text-align: center;
            height: 100%;
            width: 80vw;
          }
        }

        th {
          font-weight: bold;
        }

        td {
          font-weight: normal;
        }
      }
    }
  }
}
