.turns{
    
}

.turns_information{
    /* border: 2px rgb(0, 255, 94) solid; */
    text-align: center;
}

.turns_information_contact{
    display: flex;
    justify-content: space-around;
    /* border: 2px red solid; */
}

.turns_information_contact_frame{
    width: 15%;
    height: 150px;
    border: 2px rgb(165, 165, 165) solid;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.turns_information_contact_first-date{
    width: 15%;
    height: 200px;
    border: 2px rgb(165, 165, 165) solid;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.turns_information_contact_img{
    width: 100px;
    /* border: 2px orange solid; */
}