.main-datail {
    width: 100%;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 60px;
    height: 100%;

    h2 {
        width: 40%;
        text-align: center;
        color: #02AFF6;
        margin: 40px auto;
        font-size: 30px;

    }

    .detail-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        width: 90%;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        margin: 0 auto;
        gap: 15px;
        padding: 30px;
        height: 35vh;


        .detail-box {
            display: flex;
            flex-direction: column;
            width: 100%;
            padding: 20px;
            justify-content: center;
            align-items: center;
            box-shadow: 5px 5px 10px 0px rgba(150, 150, 150, 0.459);
            margin: 0px auto;
            height: 100%;
            transition: background-color 1s ease-in;

            &:hover {
                background-color: #92929225;

                .detail-description {
                    display: flex;

                }
            }

            .detail-image {
                display: flex;
                margin: 10px;
                color: #02AFF6;
                font-size: 40px;
                align-items: center;

            }

            .detail-title {
                display: flex;
                justify-content: center;
                font-size: 16px;
                // width: 200px;
                align-items: center;
                font-family: 'Montserrat', sans-serif;
                margin: 10px;
                font-weight: 600;
                text-align: center;
                color: #02AFF6;

            }

            .detail-description {

                // height: 100%;
                display: none;
                align-items: center;
                text-align: center;
                font-family: 'Montserrat', sans-serif;
                font-weight: 300;


            }

        }
    }

}


@media (max-width: 480px) {
    .main-datail {
        h2 {
            display: none;
        }

        .detail-container {
            display: flex;
            flex-direction: column;
            height: 100%;
        }
    }

}

@media (min-width:481px) and (max-width:767px) {
    .main-datail {
        .detail-container {
            width: 80%;
            display: flex;
            flex-direction: column;
            height: 100%;
        }
    }

}

@media (min-width:768px) and (max-width:1024px) {
    .main-datail {

        .detail-container {
            width: 80%;
            grid-template-columns: 1fr 1fr;
            height: 100%;

            .detail-box {
                height: 20vh;

            }
        }
    }

}