.information-container{
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: -30px auto 20px;
    clip-path: polygon(0 0,50% 50px,100% 0,100% 100%,0 100%);
    background: linear-gradient(to bottom, #04b2d97e, #f1f1f1);
    color: black;
    gap: 10px;
    // border: 1px solid #00e0c8;
    padding: 50px;
    .information-container_aboutus{
         
         color: black;
         width: 80%;
         
        .map{
            width: 100% ;
            height:80%; 
            display: flex;
            padding: 5px;
            margin: 10px auto;
        }

    }
    .information-container_schedule{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        // background-color: rgba($color: #02AFF6, $alpha: 0.3) ;
        text-align: center;
        width: 40%;
        height: 100;
        padding: 10px;
        
        
    }
    .information-container_contact{
        // background-color: rgba($color: #02AFF6, $alpha: 0.3) ;
        width: 40%;
        height: 100%;
        display: flex;
        // justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        font-size: 15px;
        padding: 15px;

        .information-container_contact_location{
            display: flex;
            margin: 10px;
            width: 100%;
            justify-content: space-evenly;
            .contact-icon{
                margin-top: 3px;
            }

            
        }
        .information-container_contact_phone{
            display: flex;
            margin: 10px;
            width: 100%;
            justify-content: space-evenly;
            .contact-icon{
                margin-top: 4px;
            }
        }
        .information-container_contact_email{
            display: flex;
            margin: 10px;
            width: 100%;
            justify-content: space-evenly;
            .contact-icon{
                margin-top: 4px;
            }
            
           
            
        }
    }

}

@media (max-width: 480px){
    .information-container{
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: space-between;

        .information-container_aboutus{
            width: 80%;
        }
        .information-container_schedule{
            width: 80%;
            margin-bottom: 5%;
        }
        .information-container_contact{
            width: 80%;
        }

    }
}