.container-slider-main{
    width: 100%;

    h2{
        color: #02AFF6;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 40px;
        font-size: 40px;
    }
    .container-slider{
    
        width: 80%;
        margin: 0 auto ;
        padding: 10px;
   
        .react-multi-carousel-list{
            // width: 95%;
            margin: 0 auto;
            .react-multiple-carousel__arrow--right{
                background-color: #02AFF6;

            }
            .react-multiple-carousel__arrow--left{
                background-color: #02AFF6;

            }
        
            .react-multi-carousel-track{
                
                .react-multi-carousel-item{
                    width: 200px;

                }

                .react-multi-carousel-item--active{
                }
            }
        }

        .container-slider-carousel{
       
            
            .container-slider-carousel_card{
                
                display: flex;
                flex-direction: column;
                align-items: center;
                border-radius: 10px;
                padding-bottom: 10px;
                
                
                
                .container-slider-carousel_card_img{
                    width: 90%;
                    height: 40vh;
                    border: 1px solid rgba(82, 82, 82, 0.158);
                    border-radius: 5px;
                    box-shadow: 1px 1px 5px 1px rgba(82, 82, 82, 0.712) ;
                    
                    
    
                    &:hover{
                        filter: opacity(.5);
                    }
                    
                }
                .container-slider-carousel_card_span{
                    // background-color: #02AFF6 ;
                    // padding: 3% 5%;
                    // display: flex;
                    // text-align: right;
                    // color: white ;
                    // border-radius: 5px 5px 0px 0px;
                    // margin-top: -10%;
                    // width: 90%;
                    background-color: #02AFF6;
                    color: white ;
                    position:absolute;
                    // left: 20px;
                    padding: 10px ;
                    top: 80%; 
                    right: 5%;     
                    border-radius: 5px 0px 0px 5px;  
                    font-weight: 600;        
                    border-bottom: 0.5px solid rgba(255, 255, 255, 0.418); 
                    border-top: 0.5px solid rgba(255, 255, 255, 0.418); 
                    box-shadow: 0px 0px 3px white  ;   
                    
                }
            }
            
        }
    }
    

}

@media (max-width: 480px) {
    .container-slider{
        height: 52vh;
        padding: 20px;
        // width: 100%;
        .container-slider-carousel{
            display: flex;
            
            align-items: center;
        
       
            .container-slider-carousel_card{
                // margin: 20px;
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;
                
    
                .container-slider-carousel_card_img{
                    width: 120%;
                    height: 40vh;
                    border: 1px solid rgba($color: #333333, $alpha: 0.3);
                    
                }
                .container-slider-carousel_card_span{
                    background-color: rgba($color: #02AFF6, $alpha: 1.0) ;
                    padding: 1% 5%;
                    display: flex;
                    color: white;
                    margin-top: 10px;
                    
                    
                }
            }
            
        }
        
    }
}